.main-page {
    background-color: #F6D114;
    padding-top: 10%;
    margin: auto;
    /* width: 900px; */
    height: 100vh;
}

.heading {
    padding: 20px;
}

.heading-sub {
    padding-bottom: 25px;
    color: yellow;
}